:root {
	 --primary-light: #8abdff;
	 --primary: #2bbf80;
	 --primary-dark: #5b0eeb;
	 --white: #fff;
	 --greyLight-1: #5c77b1;
	 --greyLight-2: #19253e;
	 --greyLight-3: #bec8e4;
	 --greyDark: #3b9d73;
}
 *, *::before, *::after {
	 margin: 0;
	 padding: 0;
	 box-sizing: inherit;
}
 #canvas {
	 height: 100vh;
	 pointer-events: none;
	 position: fixed;
	 top: -10vh;
	 width: 100%;
}
 html {
	 box-sizing: border-box;
	 font-size: 62.5%;
	 overflow-y: scroll;
	 color: var(--greyDark);
}
 @media screen and (min-width: 900px) {
	 html {
		 font-size: 75%;
	}
}
 h2 {
	 font-size: 1.2vmax;
	 margin-bottom: 1.5em;
}
 #container {
	 min-height: 100vh;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 font-family: 'Poppins', sans-serif;
	 background: var(--greyLight-1);
}
 .content {
	 border-radius: 50rem 50rem 25rem 25rem;
	 padding: 10rem 6rem 10rem;
	 display: block;
	 grid-template-columns: 7vmax 22vmax;
	 grid-template-rows: repeat(autofit, min-content);
	 grid-column-gap: 2rem;
	 grid-row-gap: 2.5rem;
	 grid-template-areas: "pp pp" ". .";
	 align-items: center;
	 text-align: center;
	 background: linear-gradient(to bottom, #19253e 0%, #19253e 80%, rgba(21, 23, 40, 0) 100%);
}
 .pp {
	 grid-area: pp;
}
 .pp img {
	 width: 20rem;
	 padding: 2rem;
	 margin: -15rem 0 0 0;
	 border-radius: 10rem;
	 background: linear-gradient(to bottom, #19253e 0%, #19253e 76%, rgba(21, 23, 40, 0) 100%);
}
/* TOOLTIP */
 .tooltip {
	 position: absolute;
	 top: -20px;
	 font-size: 14px;
	 background-color: var(--greyDark);
	 color: var(--greyLight-2);
	 padding: 5px 8px;
	 border-radius: 5px;
	 box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	 opacity: 0;
	 pointer-events: none;
	 transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
 .tooltip::before {
	 position: absolute;
	 content: "";
	 height: 8px;
	 width: 8px;
	 background-color: var(--greyDark);
	 bottom: -3px;
	 left: 50%;
	 transform: translate(-50%) rotate(45deg);
	 transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* ICONS */
 .icon {
	 position: relative;
	 display: flex;
	 justify-content: space-between;
}
 .icon_ico {
	 width: 3vmax;
	 height: 3vmax;
	 border-radius: 50%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 font-size: 1.5vmax;
	 cursor: pointer;
	 color: var(--greyDark);
	 transition: all 0.5s ease;
}
 .icon_ico:active {
	 box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
	 color: var(--primary);
}
 .icon_ico:hover {
	 color: var(--primary);
}
 .icon_ico:hover .tooltip {
	 top: -40px;
	 opacity: 1;
	 visibility: visible;
	 pointer-events: auto;
}

/* Keyframes for fade-in animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0; /* Start with height 0 */
    transform: translateY(50px) scale(0.5); /* Slide in from below and scale down */
    overflow: hidden; /* Hide overflow during animation */
  }
  100% {
    opacity: 1;
    max-height: 500px; /* Set a maximum height to control the fold */
    transform: translateY(0) scale(1); /* Reset position and scale to normal */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0; /* Start with height 0 */
    transform: translateY(50px) scale(0.5); /* Slide in from below and scale down */
    overflow: hidden; /* Hide overflow during animation */
  }
  100% {
    opacity: 1;
    max-height: 500px; /* Set a maximum height to control the fold */
    transform: translateY(0) scale(1); /* Reset position and scale to normal */
  }
}

/* Apply the fade-in animation to the content and pp classes */
.content, .pp, h2, .icon {
  opacity: 0; /* Start hidden */
  -webkit-animation: fadeIn .3s ease-out forwards; /* Animation for WebKit browsers */
  animation: fadeIn .3s ease-out forwards; /* Animation for other browsers */
}

/* Delay for the pp animation */
h2 {
  -webkit-animation-delay: .1s; /* Delay for h2 in WebKit browsers */
  animation-delay: .1s; /* Delay for h2 in other browsers */
}
.icon {
  -webkit-animation-delay: .2s; /* Delay for icon in WebKit browsers */
  animation-delay: .2s; /* Delay for icon in other browsers */
}

 
